/* Note:  I have grouped these Elements by Type (All structuring blocks, 
   all buttons, all Texts, etc together (instead of grouping them in Work/Bank/Shop)
   as the Style should change in sync: When one Button changes their style, than
   the others should as well..  (Next step would be more Inheritance (I use some), 
   but it was not really necessary for this small prj. - would do on a big one!)  
*/

/* ======= PAGE-WIDE-SETTINGS ========================================== */
body {
  background-image: url("assets/images/corner-logo2.png");
  background-repeat: no-repeat;
  background-color: #818487;
  font-family: Tahoma, Geneva, sans-serif;
  color: #ffffff;
}
.allaroundmargin {
  margin: 4rem;
  padding-left: 5rem;
}

/* ======= BOXES THAT CONTAIN THE 3(4) Areas ========================================== */
span {
  display: flex;
  justify-content: center;
}

.toprowbox {
  width: 15rem;
  height: 15rem;
  display: inline-block;
  margin: 1rem;
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 25px;
  vertical-align: bottom;
}
.box-work {
  background: #336e91;
}
.box-bank {
  background: #2a5a6b;
}
.box-shop {
  background: #163353;
}

.bottomrow {
  width: 50rem;
  height: 10rem;
  margin: 1rem;
  background: #06182b;
  box-shadow: 5px 5px 15px 5px #081f38;
  border-radius: 25px;
}

.areaheading {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 21px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
}
.accountRow {
  margin: 0.9rem;
  font-size: 18px;
}

.buttonRow {
  margin: 1rem;
  display: inline-block;
}
/* --NOTE: I am using a Table ONLY in the Bottom Shop Area!!  */
.tdBuy {
  text-align: center;
  vertical-align: middle;
}
.tableBuy {
  vertical-align: middle;
}

/* ======= BUTTONS ========================================== */

button {
  color: #ffffff;
  padding: 7px 15px;
  font-size: 16px;
}
#btnWorkWork {
  color: #000000;
  background-color: gold;
}
#btnWorkToBank {
  background-color: rgb(187, 67, 24);
}
#btnBankGetLoan {
  background-color: rgb(83, 22, 25);
}
#btnWorkRepayLoan {
  background-color: rgb(12, 56, 38);
}
#btnBuyItem {
  color: #000000;
  background-color: rgb(122, 211, 144);
}
.roundedButton {
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
}
/* ======= TEXTS ========================================== */
.featText {
  font-size: 10px;
  margin-left: 29px;
}

.featHeader {
  font-size: 13px;
  text-decoration: underline;
  margin-left: -159px;
  text-align: left;
}

.buyImg {
  border: 1px solid #ddd;
  height: 7rem;
  border-radius: 8px;
}

.txtBuyHeader {
  font-size: 18px;
  text-decoration: underline;
}
.txtBuyDescription {
  font-size: 14px;
  margin-left: 9px;
}
.loan {
  visibility: hidden;
}
